/* CSS RESET */
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 1rem;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
    margin: .5rem -.5rem 0;
}

.container .row [class*="col-"]{
    margin : 0 .5rem;
    padding: .5rem;
}


.container .row .col-1{
    width: calc(1 / 12 * 100% - 1rem);
}

.container .row .col-2{
    width: calc(2 / 12 * 100% - 1rem);
}

.container .row .col-12{
    width: calc(12 / 12 * 100% - 1rem);
}