/* Class called 'red' that can be used wherever we want */
.red{
    color:red;
}

/* Selectors used to affect all LIs of Ordered Lists only */
ol li {
    color:green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, table tr td, table tr th{
    border:1px black solid;
    border-spacing:0px;
    border-collapse:collapse;
}